.pageWrap{
    display:flex;
    min-height: 100vh;
    flex-direction: column;
}
.main{
    flex: 1;
}
.main .wrap{
    border: 1px solid #ccc;
    border-top: none;
    overflow: hidden;
}
.indexSider{
     border-right: 1px solid #ccc;
     padding-bottom: 9999px;
     margin-bottom: -9999px;
}

/*在大屏幕下的main显示  */
#indexMenu li{
    text-align: center;
    margin-right: -1px;
    border-right: 3px solid rgba(0,0,0,0);
}
#indexMenu .ant-menu-item-selected{
  border-right: 3px solid #1890ff;
  background: #e6f7ff;
}
#indexMenu{
    border-right: none;
}
.indexList{
    border-left: 1px solid #ccc;
    padding: 0 10px;
}
.indexList p{
        margin: 0;
}
/* 这是使用媒体查询时的方案 */
/* 在小屏幕下的侧边栏显示 */
/* @media all and (max-width:767px){
    #indexMenu{
        display: flex;
        border-bottom: 1px solid #ccc;
    }
    #indexMenu li{
        flex: 1;
        margin: 0 0 -1px 0;
        border: none;
        border-bottom: 3px solid rgba(0,0,0,0);
    }
    #indexMenu li:hover,
    #indexMenu .ant-menu-item-selected{
        border-right: none;
        border-bottom: 3px solid #1890ff;
        background: none;
      }
      .indexList{
          border-left: none;
      }

} */
#indexXsMenu{
    display: flex;
    border-bottom: 1px solid #ccc;
}
#indexXsMenu li{
    flex: 1;
    margin: 0 0 -1px 0;
    border: none;
    border-bottom: 3px solid rgba(0,0,0,0);
}
#indexXsMenu li:hover,
#indexXsMenu .ant-menu-item-selected{
    border-right: none;
    border-bottom: 3px solid #1890ff;
    background: none;
  }

.wrap{
    max-width: 980px;
    margin:0 auto;
}
#logo{
    color: #ffffff;
    margin-bottom: 0;
    text-align: center; 
}
.headerDivider{
    margin: 10px 0;
    height: 44px;
    float: left;
    /* 因为headerDivider是一个inline元素  Menu是一个inline-block元素  无法在同一行 所以用浮动*/
}
#nav{
    margin-left: 30px;
    float: left;
    /* 下面给Menu 设置样式*/
    background: none;
    border: none;
    line-height: 62px;
}

#nav a {
   color: #ffffff;

}

#nav .ant-menu-item-selected a{
    /* 选中时字体颜色改变 */
    color: #1890ff;
}

.xsNav{
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.replyList  .ant-List-item-meta-avatar{
    display: block;
}

.ant-List-item-meta{
    min-width: 200px;
    align-items: center;
}

.wrap img {
    /* 图片会随屏幕缩小而不会超出屏幕 */
    max-width: 100%;
}

/* 用户详情 */
.userAvatar{
    display: block;
    margin: 10px auto;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.userInfo{
    text-align: center;
    line-height: 24px;
    padding-bottom: 10px;
}
.userList{
    line-height: 32px;
}
.userList .userName{
    margin: 0 10px 0 5px;
}
.userList time{
    position: absolute;
    right: 0;
}
.userList .ant-list-item{
    position: relative;
}

@media all and (max-width:767px){
    .userList time{
        position: static;
    }
    .userList .ant-list-item{
        position: static;
    }
}